@import "../../styles/variables";

.details {
  &-poster {
    background-size: cover !important;
    width: 100%;
    height: 80vh;
    position: relative;
  }

  &-header {
    position: absolute;
    left: 15%;
    bottom: -66px;
    display: flex;
    align-items: center;

    &-info {
      margin-left: 25px;
      color: $white;
      align-self: flex-end;
      display: flex;
      flex-direction: column;

      &-title {
        font-family: $brand-font;
        text-transform: uppercase;
        font-size: 2rem;
      }

      &-rating {
        display: flex;
        margin: 5px 0;
        color: $gold;
        &-number {
          margin-right: 10px;
          font-weight: bold;
        }
      }
    }
  }

  &-main {
    padding: 100px 15% 0;
    background: linear-gradient(0deg, transparent, $black) center center
      no-repeat;
    &-overview {
      font-size: 1rem;
      color: $white;
      font-weight: normal;
      line-height: 1.5rem;
    }
  }

  &-loader-container {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  &-heading {
    font-size: 1.5rem;
    margin-bottom: 40px;
    font-family: $brand-font;
    text-transform: uppercase;
    color: $white;
  }

  &-cast {
    padding: 40px 15%;
  }

  &-trailers {
    padding: 0px 15% 40px;
  }

  &-reviews {
    padding: 0px 15%;
  }
}

.header-loader {
  margin-top: 80px;
}

@media only screen and (max-width: 1200px) {
  .details {
    &-header {
      left: 10%;
    }

    &-main {
      padding: 100px 10% 0;
    }

    &-cast {
      padding: 40px 10%;
    }

    &-trailers {
      padding: 0px 10% 40px;
    }

    &-reviews {
      padding: 0px 10%;
    }
  }
}

@media only screen and (max-width: 715px) {
  .details {
    &-header {
      left: 7%;
    }

    &-main {
      padding: 100px 7% 0;
    }

    &-cast {
      padding: 40px 7%;
    }

    &-trailers {
      padding: 0px 7% 40px;
    }

    &-reviews {
      padding: 0px 7%;
    }
  }
}
