@import "../../styles/variables";

.searchable-dropdown {
  color: $white;
  font-size: 0.75rem;
  width: 200px;

  &-search-box {
    font-size: 1rem;
    display: flex;
    align-items: center;
    color: $white;
    background-color: $charcoal;
    &.focus {
      background-color: $primary-grey;
    }
  }

  &-search-icon {
    padding-left: 0.75rem;
    max-width: 28px;
    transition: all 0.4s;
    &.focus {
      background-color: $primary-grey;
    }
  }

  &-input {
    color: $white;
    background-color: $charcoal;
    padding: 0.75rem;
    width: 100%;
    outline: none;
    border: none;
    font-size: 0.75rem;
    &:focus {
      background-color: $primary-grey;
    }
  }

  & &-list {
    background-color: $primary-grey;
    list-style: none;
    cursor: pointer;
    max-height: 0;
    opacity: 0;
    transition: all 0.4s;
    overflow: hidden;
    z-index: 1;
    position: absolute;
    width: 200px;
    -webkit-box-shadow: 3px 3px 15px -2px $black;
    box-shadow: 3px 3px 15px -2px $black;

    &.active {
      opacity: 1;
      max-height: 200px;
      overflow-y: scroll;
    }

    &::-webkit-scrollbar {
      width: 8px;
      background: $dark-grey;
    }

    &::-webkit-scrollbar-thumb {
      background: $tertiary-grey;
    }

    &-item {
      padding: 0.75rem;

      &:hover {
        background-color: $secondary-grey;
      }
    }
  }
}

@media only screen and (max-width: 1090px) {
  .searchable-dropdown {
    width: 600px;

    & &-list {
      width: 600px;
    }
  }
}

@media only screen and (max-width: 715px) {
  .searchable-dropdown {
    width: 400px;

    & &-list {
      width: 400px;
    }
  }
}
