$primary-color: linear-gradient(
  165deg,
  rgba(37, 20, 49, 1) 0%,
  rgba(22, 17, 48, 1) 22%
);
$secondary-color: #eb4e7a;
$tertiary-color: #1c262b;
$red: #e50914;
$gold: #daa520;

$dark-grey: #141414;
$charcoal: #0d0d0d;
$primary-grey: #222;
$secondary-grey: #2b2b2b;
$tertiary-grey: #383838;
$placeholder-grey: #858585;

$white: #fff;
$black: #000;
$brand-font: "glacial-indifference";

$primary-font: "Roboto", sans-serif;

// Hamburger variables
$bar-width: 24px;
$bar-height: 3px;
$bar-spacing: 4px;
$transY: 7px;
