@import "../../styles/variables";

.discover {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  &-form {
    display: flex;
    background-color: $charcoal;
    padding: 20px;
    // overflow: scroll;
    &__select {
      background-color: #222;
      border: none;
      font-size: 0.75rem;
      color: white;
      padding: 0.5rem;
      outline: none;
    }
    &__option {
      background-color: #222;
      color: #eee;
      &:hover {
        background-color: #eee;
        cursor: pointer;
      }
    }
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
