@import "../../styles/variables";

.discover-form {
  width: 100%;
  background-color: $dark-grey;
  display: flex;
  justify-content: space-around;

  &-input {
    border: none;
    color: $white;
    background-color: $charcoal;
    padding: 0.75rem;
    width: 200px;
    font-size: 0.75rem;
    &:focus {
      outline: none;
      background-color: $primary-grey;
    }
  }

  &-button {
    font-family: $brand-font;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 0.75rem;
    border: none;
    background-color: $red;
    color: $white;
    text-transform: uppercase;
    cursor: pointer;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media only screen and (min-width: 1200px) {
  .discover-form {
    width: 1220px;
  }
}

@media only screen and (max-width: 1090px) {
  .discover-form {
    flex-direction: column;
    align-items: center;
    height: 350px;
    justify-content: space-between;
    &-input {
      width: 600px;
    }
  }
}

@media only screen and (max-width: 715px) {
  .discover-form {
    &-input {
      width: 400px;
    }
  }
}

@media only screen and (max-width: 425px) {
  .discover-form {
    &-input {
      width: 300px;
    }
  }
}
