@import "../../styles/variables";

.main-header {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 10%,
    rgba(110, 43, 43, 0)
  );
  height: 68px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 4%;
  position: fixed;
  z-index: 10;

  top: 0;
  left: 0;

  &__brand {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 2rem;
  }

  &__title {
    color: $white;
    margin-left: 5px;
    font-family: $brand-font;
    font-weight: 600;
    font-size: 1.5rem;

    &::first-letter {
      color: $red;
    }
  }

  &__nav-collapse {
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items: center;
  }

  .hamburger {
    position: relative;
    z-index: 1;

    &:hover {
      cursor: pointer;
    }

    &__line {
      width: $bar-width;
      height: $bar-height;
      background-color: #fff;
      display: block;
      margin: $bar-spacing auto;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }

    .is-active &__line {
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(1) {
        -webkit-transform: translateY($transY) rotate(45deg);
        -ms-transform: translateY($transY) rotate(45deg);
        -o-transform: translateY($transY) rotate(45deg);
        transform: translateY($transY) rotate(45deg);
      }

      &:nth-child(3) {
        -webkit-transform: translateY(-$transY) rotate(-45deg);
        -ms-transform: translateY(-$transY) rotate(-45deg);
        -o-transform: translateY(-$transY) rotate(-45deg);
        transform: translateY(-$transY) rotate(-45deg);
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .main-header {
    &__nav-collapse {
      position: absolute;
      top: -500px;
      left: 0px;
      width: 100vw;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 25px;

      &.is-active {
        top: 0px;
        background-color: black;
      }
    }
  }
}
