@import "../../styles/variables";

.swiper {
  &-container {
    width: 100%;
    height: 100vh;
  }

  &-button-prev,
  &-button-next {
    color: $red;
    box-shadow: 10px 10px 24px -15px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 24px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 24px -15px rgba(0, 0, 0, 0.75);
  }

  &-slide {
    &-background {
      width: 100%;
      height: 100vh;
      background-size: cover, cover;
      background-repeat: no-repeat;
      // display: flex;
      // background-image: linear-gradient(
      //   77deg,
      //   rgba(0, 0, 0, 0.6) 0,
      //   rgba(0, 0, 0, 0) 85%
      // );
    }

    &-overlay {
      color: $white;
      height: 100%;
      display: flex;
      align-items: flex-end;
      background-image: linear-gradient(
        77deg,
        rgba(0, 0, 0, 0.6) 0,
        rgba(0, 0, 0, 0) 85%
      );
    }

    &-container {
      display: flex;
      flex-direction: column;
      padding: 4%;
      max-width: 45%;
    }

    &-title {
      font-family: $brand-font;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 2rem;
      text-align: left;
    }

    &-home-details {
      display: flex;
      align-items: center;
    }

    &-rating {
      color: $gold;
      margin: 0 5px;
      font-weight: bold;
    }
  }
}
