@import "../../styles/variables";

.search-page {
  margin-top: 100px;
  color: $white;
  padding: 0 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &-details {
    font-family: $brand-font;
    text-transform: uppercase;
    &-heading {
      font-size: 2rem;
      margin-bottom: 40px;
    }
    &-info {
      margin-bottom: 40px;
    }
  }

  &-subheading {
    font-family: $brand-font;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  &-results {
    width: 100%;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, 205px);
    grid-auto-rows: 298px;
    margin-bottom: 40px;
  }

  &-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-person-card {
    width: 185px;
    height: 278px;
  }

  &-no-results {
    text-transform: uppercase;
    font-family: $brand-font;
    margin-bottom: 40px;
    font-size: 0.75rem;
  }

  &-pagination-container {
    display: flex;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 400px) {
  .search-page {
    &-heading {
      font-size: 1.5rem;
    }
  }
}
