@import "../../styles/variables";

.people {
  &-poster {
    background-size: cover !important;
    width: 100%;
    height: 80vh;
    position: relative;
  }

  &-header {
    position: absolute;
    left: 15%;
    bottom: -66px;
    display: flex;
    align-items: center;

    &-info {
      margin-left: 25px;
      color: $white;
      align-self: flex-end;
      display: flex;
      flex-direction: column;

      &-title {
        font-family: $brand-font;
        text-transform: uppercase;
        font-size: 2rem;
      }

      &-rating {
        display: flex;
        margin: 5px 0;
        color: $gold;
        &-number {
          margin-right: 10px;
          font-weight: bold;
        }
      }
    }
  }

  &-heading {
    font-size: 1.5rem;
    margin-bottom: 40px;
    font-family: $brand-font;
    text-transform: uppercase;
    color: $white;
  }

  &-main {
    padding: 100px 15% 0;
    background: linear-gradient(0deg, transparent, $black) center center
      no-repeat;
    &-biography {
      font-size: 1rem;
      color: $white;
      font-weight: normal;
      line-height: 1.5rem;
      margin-bottom: 40px;
    }

    &-credit {
      color: $white;
      display: grid;
      grid-template-columns: 92px calc(100% - 92px);
      grid-template-rows: 138px;
      line-height: 1.3rem;
      height: 138px;
      margin-bottom: 20px;

      &-details {
        padding-left: 5px;
      }

      &-title {
        font-size: 1rem;
        font-family: $brand-font;
        text-transform: uppercase;
        font-weight: bold;
      }

      &-character {
        font-size: 0.75rem;
        color: $tertiary-grey;
        font-weight: bold;
      }

      &-overview {
        font-size: 0.9rem;
        height: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &-placeholder {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $secondary-grey;
        width: 92px;
        height: 138px;
        flex-shrink: 0;
        flex-grow: 0;

        &-image {
          color: $dark-grey;
          font-size: 100px;
        }
      }
    }
  }
}
